__pycache__

data/letter/letter-recognition.data
data/letter/test.csv
data/letter/text/
data/letter/cpp/

data/magic/magic04.data
data/magic/test.csv
data/magic/text/
data/magic/cpp

data/adult/adult.data
data/adult/test.csv
data/adult/text/
data/adult/cpp

data/bank/bank-additional/
data/bank/bank-additional.zip
data/bank/test.csv
data/bank/text/
data/bank/cpp

data/satlog/sat.trn
data/satlog/sat.tst
data/satlog/test.csv
data/satlog/text/
data/satlog/cpp

data/mnist/*ubyte
data/mnist/*gz
data/mnist/test.csv
data/mnist/train.csv
data/mnist/text/
data/mnist/cpp
data/mnist/mnist_train.csv
data/mnist/mnist_test.csv

data/wine-quality/test.csv
data/wine-quality/text/
data/wine-quality/cpp
data/wine-quality/winequality-red.csv
data/wine-quality/winequality-white.csv

data/**/*.txt
